{% extends "_base.html" %}
{% load static %}

{%block navbar%}
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> Login </button>
        <button type="button" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"> Sign in </button>
    </div>
{% endblock %}

{% block content %}
<div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Rencontres et discutes avec des inconnus.</h1>
<div class="flex items-center w-full space-x-4">
    <img src="{% static 'images/happyChat.jpg' %}" class="float-left">
</div>
</div>
{% endblock %}
